.add-graphic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    background-color: #272727;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.add-graphic-container.clickable {
    cursor: pointer;
}

.add-graphic-container.clickable:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease;
}