.home-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 24px;
}

.current-weight {
    position: absolute;
    z-index: 10;
    pointer-events: none;
    top: 20px;
    left: 115px;
    font-size: 170px;
    font-weight: 600;
    background: linear-gradient(0deg, #000000, #a3a3a3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.weight-overlay {
    position: relative;
}

.weight-overlay:hover .current-weight {
    filter: brightness(0.9);
    opacity: 0.7;
    transition: filter, opacity 0.4s ease;
}

.entry-form-container {
    background-color: #272727;
    padding: 10px 12px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}